<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">

      <h2>
        Lista de Tarefas
        <button @click="edit=!edit">Editar</button>
      </h2>
      <input type="text" placeholder= "Insira um elemento" v-model="texto">
      <button @click="insereTarefa(texto)">Inserir</button>
      <ul v-if="!edit">
        <li v-for="item in tarefas" :class="{realizada: item.realizada, prioritario:item.prioritario}" @click="realizaTarefa(item)">
          {{ item.nome }}
        </li>
      </ul>
      <ul v-if="edit">
          <li v-for="item in tarefas" :class="{realizada: item.realizada}">
              <input type="text" v-model="item.nome">
              <input type="checkbox" v-model="item.prioritario">
              <input type="checkbox" v-model="item.realizada">
          </li>
      </ul>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            texto: '',
            edit: false,
            tarefas: [{
                  nome:'Exercícios de HTML',
                  prioritario: false,
                  realizada: true
              },  {
                  nome: 'Exercícios de CSS',
                  prioritario: false,
                  realizada: false
              }, {
                  nome: 'Exercícios de Javascript',
                  prioritario: false,
                  realizada: false
              }, {
                  nome: 'Exercícios de VueJS',
                  prioritario: true,
                  realizada: false
              }, {
                  nome: 'Junta tudo no projeto 1',
                  prioritario: false,
                  realizada: false
              }, ]
          }
        },
        methods:{
            toggleEdit() {},
            realizaTarefa(item) {
              item.realizada = !item.realizada
            },
            insereTarefa(item){
              if(this.texto.length > 5){
                  this.tarefas.push({
                      nome: this.texto,
                      prioritario: false,
                      realizada: false
                })
                this.novaTarefa = ''
                }
              }
            }
        }).mount('#app')
    </script>
    <style>
      .realizada {
        text-decoration: line-through;
        color: gray;
      }

      .prioritario {
        color: red;
      }
    </style>


</body>
</html>